h2 {
    text-align: center;
    font-size: 3em;
    grid-column: 3 / 11;
    margin: 100px 0 50px 0;
}

p {
    font-size: 1.5em;
    text-align: center;
    margin: 50px 0 100px 0;
    grid-column: 3 / 11;
}

/* Service Grid Container: defines a grid with 12 columns, 
   spacing between items, and spans columns 3 to 11 */
.service-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* 12-column grid system */
    /* gap: 10px; */
    grid-column: 3 / 11;
    margin-bottom: 100px;
}

.row {
    display: contents; /* Display contents to allow the grid system to manage the layout */
}

.service {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.5em;
    padding: 20px;
    border: 1px solid black;
    height: 300px;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
}

.service-details {
    max-width: 80%;
}

.service-details p {
    text-align: left;
    font-size: 1em;
}

/* Hides icons by default */
.fa-html5 {
    display: none;
}

.fa-question-circle {
    display: none;
}

/* Styles for service icons: centers text, large font size */
.service-icons {
    margin: auto 0;
    text-align: center;
    font-size: 6em;
}

/* Dark theme styles for service borders */
body.dark-theme .service {
    border: 1px solid white;
}

/* Specific Service Section Grid Positions: defines how many columns each 
   section spans within the 12-column grid system */
#web-app {
    transition: all 0.2s ease;
    grid-column: span 4; /* Spans 4 out of 12 columns */
}

#web-app:hover {
    background-color: rgb(0, 187, 255);
}

#website {
    transition: all 0.2s ease;
    grid-column: span 4; /* Spans 8 out of 12 columns */
}

#website:hover {
    background-color: orange;
}

#game-dev {
    transition: all 0.2s ease;
    grid-column: span 7; 
}

#game-dev:hover {
    background-color: rgb(9, 244, 12);
}

#custom-problem {
    transition: all 0.2s ease;
    grid-column: span 4; 
}

#custom-problem:hover {
    background-color: rgb(247, 0, 255);
}


@media (max-width: 1915px) {
    .service-details {
        max-width: 70%;
    }

    .service-icons {
        font-size: 3em;
    }
}

/* Responsive design for screens up to 1700px wide: reduces font size 
   and adjusts grid column spans for specific services */
@media (max-width: 1700px) {
    .service {
        font-size: 1.3em;
    }
}

/* Responsive design for screens up to 1400px wide: adjusts grid column 
   spans to full width for all service sections and shows hidden icons */
@media (max-width: 1400px) {
    #web-app {
        grid-column: span 12; /* Spans full width */
    }

    .fa-html5 {
        display: flex; /* Shows HTML5 icon */
    }

    .fa-question-circle {
        display: flex; /* Shows question circle icon */
    }

    #website {
        grid-column: span 12; /* Spans full width */
    }
    
    #game-dev {
        grid-column: span 12; /* Spans full width */
    }
    
    #custom-problem {
        grid-column: span 12; /* Spans full width */
    }
}

/* Responsive design for screens up to 1024px wide: adjusts max-width 
   for service details */
@media (max-width: 1024px) {
    .service-details {
        max-width: 70%;
    }
}

/* Responsive design for screens up to 600px wide: adjusts grid layout 
   and font sizes */
@media (max-width: 600px) {
    .service-grid {
        margin-left: 5%;
        grid-column: span 11; /* Spans columns 1 to 11 */
        font-size: 0.9em;
    }

    p {
        font-size: 1.3em;
        text-align: center;
        margin: 50px 0 100px 0;
        grid-column: 3 / 11;
    }
}

/* Responsive design for screens up to 375px wide: reduces font size 
   for service details */
@media (max-width: 375px) {
    .service-details {
        font-size: 0.8em;
    }
}
