h2 {
    text-align: center;
    font-size: 3em;
    grid-column: 3 / 11;
    margin: 100px 0 50px 0;
}

p {
    font-size: 1.5em;
    text-align: center;
    margin: 50px 0 100px 0;
    grid-column: 3 / 11;
}

h3 {
    grid-column: 3 / 11;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.contact-form {
    grid-column: 3 / 11;
    border-radius: 5px;
    padding: 20px;
    max-width: 75%;
    margin: 0 auto;
}

/* Expands the cursor size to 400px by 400px when hovering over the submit button */
#submit:hover ~ .cursor {
    width: 400px;
    height: 400px;
}

#submit {
    display: flex;
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgb(51, 51, 60);
    border-radius: 20px;
    color: black;
    overflow: hidden;
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease;
}

/* Changes the text color to white and border color to white 
   when the dark theme is active */
body.dark-theme #submit {
    color: white;
    border: 1px solid white;
}

.contact-form button::after {
    content: '';
    width: 0;
    height: 100%;
    background-color: rgb(25, 25, 156);
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.3s ease;
    z-index: -1;
}

/* Expands the cursor size to 500px by 500px 
   when hovering over the contact form button */
.contact-form button:hover ~ .cursor {
    width: 500px;
    height: 500px;
}

/* Expands the background color to fill the entire button 
   on hover */
.contact-form button:hover::after {
    width: 100%;
}

/* Changes the text color to white when hovering over the submit button */
#submit:hover {
    color: white
}

@media (max-width: 425px) {
    .contact-form {
        grid-column: span 12;
    }
}